@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-heading: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;
  }
}


.glass-panel {
  @apply bg-slate-900/40 backdrop-blur-md border border-slate-800/50 shadow-xl;
}

.heading {
  @apply font-heading tracking-tight;
}
